<h1>Actores</h1>

<ul>
	<% @actors.each do |actor| %>
		<li> <%= actor.name %> </li>
		<li> <%= actor.bio %> </li>
		<li> <%= actor.birth_date %> </li>
		<li> <%= actor.birth_place %> </li>
		<li> <%= actor.alive %> </li>
		<li> <%= actor.death_date %> </li>
		<li> <%= actor.death_place %> </li>
		<li> <img src="<%= actor.image_url %>"></li>
	<% end %>


</ul>